.flex-container1 .red,
.flex-container3 .red,
.flex-container4 .red,
.flex-container5 .red,
.flex-container6 .red,
.flex-container7 .red {
    background-color: red;
}

.flex-container1 .blue,
.flex-container2 .blue,
.flex-container3 .blue,
.flex-container4 .blue,
.flex-container6 .blue,
.flex-container7-right .blue {
    background-color: blue;
}

.flex-container8 .orange,
.flex-container9 .orange {
    background-color: orange;
}

.flex-container1 .red,
.flex-container1 .blue,
.flex-container4 .red,
.flex-container6 .red,
.flex-container9 .orange {
    flex-grow: 1;
}

.flex-container2 .blue,
.flex-container3 .red,
.flex-container3 .blue,
.flex-container4 .blue,
.flex-container6 .blue,
.flex-container7 .red,
.flex-container8 .orange {
    width: 80px;
}

.flex-container2 {
    flex-direction: row-reverse;
}

.flex-container3,
.flex-container7-right,
.flex-container8,
.flex-container9 {
    justify-content: space-between;
}

.flex-container5 {
    justify-content: space-around;
}

.flex-container5 .red {
    width: 30px;
    height: 30px;
    align-self: center;
}

.flex-container7-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-container7-right .blue {
    height: calc(100% / 3);
}

.flex-container9 {
    gap: 20px;
}