
body{
  
  background-color: lightgrey;
}

.item{
  cursor: pointer;
  padding: 0.5rem;
  flex: auto; 
  text-align: center;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
}

h1{
    font-size: 60px;
    font-family: monospace;
    color: rgb(126, 116, 219);
    text-align: center;
}

.pic1{
    width: 100px;
    height: 100px;
    position: relative;
    animation: move1 3s;
    animation-iteration-count: infinite;
}

.pic2{
  width: 100px;
  height: 90px;
  position: relative;
  animation: move2 3s;
  animation-iteration-count: infinite;
}

.pic3{
  width: 100px;
  height: 100px;
  position: relative;
  animation: move3 3s;
  animation-iteration-count: infinite;
}

@keyframes move1 {
  from {top: 500px;}
  to {top: 0px;}
}

@keyframes move2 {
  from {left: 1000px;}
  to {left: 0px;}
}

@keyframes move3 {
  from {left: 800px;}
  to {left: 0px;}
}